<body
  class="border-4 border-solid border-b-(--primary-theme-color) border-r-0 border-t-0 border-l-0"
>
  <main class="grid grid-cols-3 grid-rows-1 p-14 justify-items-stretch">
    <div class="row-span-1">
      <h2
        class="text-(--primary-theme-color) font-(family-name:--subheader-font) text-2xl font-bold"
      >
        Rol
      </h2>
      <p class="font-(family-name:--text-font) text-lg mt-3">
        <ng-content select="[rol]"></ng-content>
      </p>
    </div>
    <div class="row-span-1">
      <h2
        class=" text-(--primary-theme-color) font-(family-name:--subheader-font) text-2xl font-bold"
      >
        Duur
      </h2>
      <p class="font-(family-name:--text-font) text-lg mt-3">{{ duur }}</p>
    </div>
    <div class="row-span-1">
      <h2
        class="text-(--primary-theme-color) font-(family-name:--subheader-font) text-2xl font-bold"
      >
        Tools
      </h2>
      <p class="font-(family-name:--text-font) text-lg mt-3">
        <ng-content select="[tools]"></ng-content>
      </p>
    </div>
  </main>
</body>
