<body class="my-5">
  <div class="grid grid-cols-1 sm:grid-cols-2">
    <div class="col-span-1 font-(family-name:--text-font) text-lg pr-4">
      <h3
        class="text-white bg-(--secondary-theme-color) w-fit font-(family-name:--subheader-font) text-base"
      >
        <p class="m-3 font-semibold">{{ phase }}</p>
      </h3>
      <h2
        class="text-(--primary-theme-color) font-(family-name:--subheader-font) text-3xl font-bold"
      >
        {{ title }}
      </h2>
      <div class = "mt-3">
        <ng-content select="[content]"></ng-content>
      </div>
    </div>
    <img src="{{ image }}" class="mt-4 sm:mt-0" />
  </div>
</body>
