<body class="bg-(--primary-theme-color) h-48 w-dvw lg:h-32">
  <footer class="flex flex-col items-center h-full px-10 justify-between py-6 lg:flex-row py-0">
    <p class="font-(family-name:--text-font) text-white">© 2026 Jenny Kim Doan.</p>
    <p class="font-(family-name:--text-font) text-white text-center">
      Made with 🤍 (en Angular + Tailwind CSS)
    </p>
    <button
      routerLink="/contact"
      class="bg-white text-(--primary-theme-color) cursor-pointer py-2.5 px-4 font-(family-name:--subheader-font) hover:duration-200 ease-in-out hover:bg-(--hover-nav)"
    >
      CONTACT MIJ
    </button>
  </footer>
</body>
