<nav class="flex justify-between items-center w-full h-24">
  <a routerLink=""> <img alt="logo" src="./assets/images/logo.png" class="size-28" /></a>

  <div class="w-full flex items-center justify-end space-x-10">
    <a class="font-(family-name:--subheader-font) text-(--primary-theme-color)" routerLink=""
      >MIJN WERK</a
    >
    <a
      class="font-(family-name:--subheader-font) text-(--primary-theme-color)"
      routerLink="/over-mij"
      >OVER MIJ</a
    >
    <a
      class="font-(family-name:--subheader-font) text-(--primary-theme-color)"
      href="./assets/documents/CV.pdf"
      target="_blank"
      >MIJN CV</a
    >
    <a
      class="bg-(--primary-theme-color) text-white py-2.5 px-4 font-(family-name:--subheader-font)"
      routerLink="/contact"
      >CONTACT</a
    >
  </div>
</nav>

<router-outlet></router-outlet>
