<nav class="flex justify-between items-center w-full h-24">
  <a routerLink="">
    <img
      alt="logo"
      src="./assets/images/logo.png"
      class="size-28 hover:animate-shake animate-duration-500 animate-ease-in-out animate-delay-100"
  /></a>

  <div class="w-full flex items-center justify-end space-x-6 hidden sm:flex">
    <a
      class="font-(family-name:--subheader-font) text-(--primary-theme-color) p-2 hover:bg-(--hover-nav) hover:duration-200 ease-in-out"
      routerLink=""
      fragment="mijn-werk"
      >MIJN WERK</a
    >
    <a
      class="font-(family-name:--subheader-font) text-(--primary-theme-color) p-2 hover:bg-(--hover-nav) hover:duration-200 ease-in-out"
      routerLink="/over-mij"
      routerLinkActive="bg-(--hover-nav)"
      >OVER MIJ</a
    >
    <a
      class="font-(family-name:--subheader-font) text-(--primary-theme-color) p-2 hover:bg-(--hover-nav) hover:duration-200 ease-in-out"
      href="./assets/documents/CV.pdf"
      target="_blank"
      >MIJN CV</a
    >

    <a
      class="bg-(--primary-theme-color) text-white py-2.5 px-4 font-(family-name:--subheader-font) border-4 hover:border-(--hover-nav)"
      routerLink="/contact"
      routerLinkActive="border-(--hover-nav)"
      >CONTACT</a
    >
  </div>
  <div class="cursor-pointer p-4 bg-(--primary-theme-color) sm:hidden" (click)="activate()">
    <div class="tham tham-e-squeeze tham-w-7">
      <div class="tham-box">
        <div class="tham-inner bg-white"></div>
      </div>
    </div>
  </div>
</nav>

<div class="mb-6 sm:hidden mb-0">
  <div
    class="grid-cols-1 grid-rows-4 border-3 border-(--primary-theme-color) intersect:animate-flip-down animate-ease-linear sm:hidden"
    [ngStyle]="{ display: visible === true ? 'grid' : 'none' }"
  >
    <a
      class="font-(family-name:--subheader-font) text-(--primary-theme-color) py-2.5 px-4 border-b-2"
      routerLink=""
      fragment="mijn-werk"
      >MIJN WERK</a
    >
    <a
      class="font-(family-name:--subheader-font) text-(--primary-theme-color) py-2.5 px-4 border-b-2"
      routerLink="/over-mij"
      >OVER MIJ</a
    >
    <a
      class="font-(family-name:--subheader-font) text-(--primary-theme-color) py-2.5 px-4"
      href="./assets/documents/CV.pdf"
      target="_blank"
      >MIJN CV</a
    >
    <a
      class="bg-(--primary-theme-color) text-white py-2.5 px-4 font-(family-name:--subheader-font)"
      routerLink="/contact"
      >CONTACT</a
    >
  </div>
</div>

<router-outlet></router-outlet>
