<body
  class="overflow-hidden my-4 grid grid-cols-1 grid-rows-6 w-96 max-h-min bg-white border-solid border-3 border-(--primary-theme-color)"
>
  <div class="row-span-2">
    <div
      class="flex items-center h-full px-1.5 border-solid border-b-3 border-(--primary-theme-color)"
    >
      <img alt="icon-intro" src="./assets/images/person.png" class="size-6 mr-2" />
      <p class="font-(family-name:--subheader-font) text-lg text-(--primary-theme-color)">
        {{ header }}
      </p>
    </div>
  </div>

  <div class="row-span-4 bg-(--primary-theme-color) grid justify-items-center py-5">
    <p class="font-(family-name:--subheader-font) text-2xl text-white">{{ content }}</p>
  </div>
</body>
