<body
  class="animate-fade-up animate-ease-out  my-4 overflow-hidden w-full h-fit bg-white border-solid border-3 border-(--primary-theme-color) sm:grid grid-cols-5 grid-rows-7"
>
  <div class="col-span-5">
    <div
      class="flex items-center h-full px-1.5 border-solid border-b-3 border-(--primary-theme-color) py-4 sm:py-0"
    >
      <img alt="icon-intro" src="./assets/images/bubble-star.png" class="size-10 mr-2" />
      <p class="font-(family-name:--subheader-font) text-3xl text-(--primary-theme-color)">
        INTRODUCTIE
      </p>
    </div>
  </div>
  <div
    class="col-span-2 row-span-6 row-start-2 border-solid border-(--primary-theme-color) sm:border-r-3 "
  >
    <div class="grid grid-rows-5 h-full">
      <div class="row-span-3 p-4">
        <p class="font-(family-name:--subheader-font) text-(--text-toned-color)">Ik ben</p>
        <p
          class="font-(family-name:--header-font) text-4xl font-bold text-(--primary-theme-color) medium-intro:text-5xl full-intro:text-6xl"
        >
          JENNY KIM <br />
          DOAN
        </p>
        <p class="font-(family-name:--subheader-font)">En ik doe aan...</p>
      </div>
      <div class="bg-(--primary-theme-color) row-span-2 text-5xl">
        <div class="">
          <div class="flex items-center">
            <p class="font-(family-name:--header-font) text-white">FRONT-END</p>
          </div>

          <div>
            <p class="font-(family-name:--header-font) text-white">UI/UX-DESIGN</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-span-3 row-span-6 col-start-3 row-start-2">
    <div class="flex items-center justify-center">
      <img alt="img-intro" src="./assets/images/intro.png" class="w-auto object-cover" />
    </div>
  </div>
</body>
