/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin 'tailwind-hamburgers';
@import 'tailwindcss-animated';
@import 'tailwindcss-intersect';

html {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

@theme {
  --breakpoint-medium-intro: 1135px;
  --breakpoint-full-intro: 1300px;
}

:root {
  /* CSS variables */
  --background-color: #fffcf9;

  --primary-theme-color: #cb4d79;
  --primary-theme-color-hover: #9e365a;
  --primary-theme-color-pressed: #752340;

  --secondary-theme-color: #4dcb9f;
  --secondary-theme-color-hover: #319a75;
  --secondary-theme-color-pressed: #207256;

  --tertiary-theme-color: #345067;
  --tertiary-theme-color-hover: #253c4f;
  --tertiary-theme-color-pressed: rgb(37, 59, 76);

  --text-black-color: black;
  --text-toned-color: #345067;

  --hover-nav: #f0cbd8;

  --header-font: 'Open Sauce Sans';
  --subheader-font: 'Rubik';
  --text-font: 'Be Vietnam Pro';


  @layer components {
    .text {
      font-family: 'Be Vietnam Pro';
      font-size: 15px;
      line-height: var(--text-sm--line-height);
    }
  }
}
